@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="page-title">Home</h2>

    <div class="overall-container">
        <div class="home-side-bar">
            <h3>Welcome!</h3>
            <p>Explanation here</p>
            <p>Please check About and Contact to submit any cases!</p>
            <h3>Navigation</h3>
            <p class="testStyle">How to navigate page</p>
        </div>
        <div class="home-map-box">
            
        </div>
    </div>
</div>
