@{
    ViewData["Title"] = "Table of Contents";
}

<div>
    <h2 class="page-title">Table of Contents</h2>

    @*Add ids to the different state sections and, most likely, the listed churches*@

    <div class="overall-container">
        <div class="table-of-contents-column">
            <h3>LongStringofTextTest</h3>
            <a href="#">Church 1</a>

            <h3>State 2</h3>
            <a href="#">Church 2</a>
            <a href="#">Church 3</a>

            <h3>State 3</h3>
            <a href="#">Church 4</a>
            <a href="#">Church 5</a>

            <h3>State 4</h3>
            <a href="#">Church 6</a>

            <h3>State 5</h3>
            <h3>State 6</h3>
            <h3>State 7</h3>
            <h3>State 8</h3>
            <h3>State 9</h3>
            <h3>State 10</h3>
            <h3>State 11</h3>
            <h3>State 12</h3>
            <h3>State 13</h3>
            <h3>State 14</h3>
            <h3>State 15</h3>
            <h3>State 16</h3>
            <h3>State 17</h3>
            <h3>State 18</h3>
            <h3>State 19</h3>
            <h3>State 20</h3>
            <h3>State 21</h3>
            <h3>State 22</h3>
            <h3>State 23</h3>
            <h3>State 24</h3>
            <h3>State 25</h3>
        </div>
        <div class="table-of-contents-column">
            <h3>State 26</h3>
            <h3>State 27</h3>
            <h3>State 28</h3>
            <h3>State 29</h3>
            <h3>State 31</h3>
            <h3>State 31</h3>
            <h3>State 32</h3>
            <h3>State 33</h3>
            <h3>State 34</h3>
            <h3>State 35</h3>
            <h3>State 36</h3>
            <h3>State 37</h3>
            <h3>State 38</h3>
            <h3>State 39</h3>
            <h3>State 40</h3>
            <h3>State 41</h3>
            <h3>State 42</h3>
            <h3>State 43</h3>
            <h3>State 44</h3>
            <h3>State 45</h3>
            <h3>State 46</h3>
            <h3>State 47</h3>
            <h3>State 48</h3>
            <h3>State 49</h3>
            <h3>State 50</h3>
        </div>
    </div>
</div>
