:root {
    --primary-color: #bdd9ba;
    --secondary-color: #000000;
    --tertiary-color: #79c7b5;
    --text-color: #2e2e2e;
    --background-color: #6c4b9c;
    --content-window-main-size: 80%;
}
